.user-component {
  justify-content: space-between;
  margin-bottom: 10px;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 20px;
}

.user-component__title {
  font-weight: 600;
  font-size: 22px;
}

.user-component__subtitle {
  margin-top: 8px;
  color: var(--gray);
  font-size: 17px;
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}

.user-component__title--not-bold {
  font-weight: 400;
}

.user-component__column:last-child {
  color: var(--gray);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__time {
  display: block;
  margin-bottom: 10px;
}

.user-component__mark {
  display: flex;
  justify-content: center;
  align-items: center;
  color: tomato;
  border: 1px solid tomato;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 7px;
}

.user-component__subpart {
  display: flex;
  align-items: center;
}

.user-component__music {
  background: none;
  border: none;
  border: 1.5px solid var(--red);
  border-radius: 15px;
  font-size: 13px;
  padding: 7px;
}

.user-component__music span,
.user-component__music i {
  opacity: 0.7;
}

.user-component__music i {
  color: var(--red);
  margin-left: 5px;
}
